<?xml version="1.0" encoding="utf-8"?>
<Content Key="a9e1197b-7a92-4e00-9fef-bdef028310ed" Alias="Welcome" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Welcome</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-09-26T19:42:13</CreateDate>
    <NodeName Default="Welcome" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9bad6af6-23af-4cf4-849b-2c7dee61d4f6">Home</Template>
  </Info>
  <Properties>
    <button>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5728489808dc425bb335993f22ed8852"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d1574064-482e-4516-9a15-f6e26d868537",
      "udi": "umb://element/5728489808dc425bb335993f22ed8852",
      "link": "umb://document/972daca270ca4cb3b7173071fd2f18a0",
      "text": "Get started"
    }
  ],
  "settingsData": []
}]]></Value>
    </button>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
  </Properties>
</Content>