<?xml version="1.0" encoding="utf-8"?>
<Content Key="0de6c04a-1b76-45ad-8a0b-3eb29d036c14" Alias="Battery-Electric Vehicles" Level="3">
  <Info>
    <Parent Key="0148b955-0db8-4e2c-9126-30c227447093">Electric Vehicles</Parent>
    <Path>/Welcome/ElectricVehicles/BatteryElectricVehicles</Path>
    <Trashed>false</Trashed>
    <ContentType>textImage</ContentType>
    <CreateDate>2023-10-09T11:01:19</CreateDate>
    <NodeName Default="Battery-Electric Vehicles" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5502ae73-0baf-43c3-a5a1-1627ef20dcad">TextImage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Your pure 100% electric-powered journey. Fully electric EVs require no diesel or petrol.</p>
<p>Your BEV can be plugged in and charged at home, or at high power charging stations which are increasingly found in towns, cities, and motorway fuelling stations.</p>
<p>Most battery-electric cars now have a real-world range of 220 miles on a full charge. </p>
<p>The average distance between charging points in the UK, is now 3.8 miles.</p>
<p>In more remote areas, such as The Lake District or North Devon? Between 37 – 47 miles.</p>
<p>When you make the switch to EV, your driving will not produce any tailpipe emissions.</p>]]></Value>
    </bodyText>
    <images>
      <Value><![CDATA[[
  {
    "key": "222a9b2d-8797-4fcb-b766-8492d1d0da83",
    "mediaKey": "2bf8996d-4e05-4e3d-8ef2-5ddd0ae99612"
  }
]]]></Value>
    </images>
    <title>
      <Value><![CDATA[Battery-electric vehicle (BEV)]]></Value>
    </title>
  </Properties>
</Content>