<?xml version="1.0" encoding="utf-8"?>
<Content Key="e75d0abd-0c14-4629-8b1d-f6a3800c63b6" Alias="The Benefits of Electric Vehicles" Level="3">
  <Info>
    <Parent Key="0148b955-0db8-4e2c-9126-30c227447093">Electric Vehicles</Parent>
    <Path>/Welcome/ElectricVehicles/TheBenefitsOfElectricVehicles</Path>
    <Trashed>false</Trashed>
    <ContentType>linkList</ContentType>
    <CreateDate>2023-10-09T11:23:34</CreateDate>
    <NodeName Default="The Benefits of Electric Vehicles" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4252ebb5-5063-42ad-8ef8-1cb1ae817147">LinkList</Template>
  </Info>
  <Properties>
    <buttons>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/826cff62fd414cb6b48cf34246cf79b7",
        "settingsUdi": "umb://element/97efa8a468fd427db337ae5ff47bbdca"
      },
      {
        "contentUdi": "umb://element/8eed1b201855433ba2ce3c9d838c6e42",
        "settingsUdi": "umb://element/2c839581779c472d836db29cc083277e"
      },
      {
        "contentUdi": "umb://element/ed5cfeb5e2b44106b15aa4cbcdb3fd08",
        "settingsUdi": "umb://element/099fe64c08b84b21967d75555b1255a4"
      },
      {
        "contentUdi": "umb://element/f4e6a9c02b7e4fb5ac6fa1715027c403",
        "settingsUdi": "umb://element/2df0a406ff93477fa8dcb7a97316b4e3"
      },
      {
        "contentUdi": "umb://element/e22be06035a44f91950ca6fd17f81b1f",
        "settingsUdi": "umb://element/989b4d9f4a24436594f1abec7c192ca4"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fdc50f29-95c9-4233-a552-9b00c78fa49d",
      "udi": "umb://element/826cff62fd414cb6b48cf34246cf79b7",
      "text": "Why buy electric? ",
      "bodyText": "<p>Electric vehicles offer a number of ways for you to save money.</p>\n<p>While the initial upfront purchase price of an electric or plug-in hybrid vehicle can be higher, this is usually offset by lower running costs.</p>\n<p><strong>Ways that you save money, with an EV:</strong></p>\n<ul>\n<li>Cut the cost of your journeys in half.</li>\n<li>Reduce your servicing and maintenance costs.</li>\n<li>Lower or zero excise duty costs, for your vehicle.</li>\n<li>Lower emissions, help you avoid costs on the road.</li>\n<li>Significant BIK tax benefits for company car users.</li>\n</ul>\n<p>Find out more about the benefits of Electric Vehicles (EV) by checking out our EV engagement FAQ<u>,</u> Where you can get your questions answered, and access links to further information.</p>\n<p>We’ve also sourced an EV flow chart to help you make the right decision, to help you decide when purchasing an EV, is right for you.</p>"
    },
    {
      "contentTypeKey": "fdc50f29-95c9-4233-a552-9b00c78fa49d",
      "udi": "umb://element/8eed1b201855433ba2ce3c9d838c6e42",
      "text": "Cut the cost of your journeys in half",
      "bodyText": "<p>By fully charging the battery of your 100% electric EV at home – you’ll be able to drive up to 220 miles, which costs around £5 if you switch to an EV-friendly home energy tariff.</p>\n<p>The same distance in conventional fuel-powered vehicle? £41.</p>\n<p>The cost of your journey on petrol or diesel, can sometimes be which three or four times more than an electric one.</p>\n<p>Your savings will be greater when charging at home, with access to an off-peak overnight electricity tariff.</p>\n<p>High-power public charging is more expensive than home charging however the average UK car use per day is @20 miles so most people only ever need to use public charging on the occasional long journey.</p>\n<p> </p>\n<p>220 miles with a 3.5 mile-per-kWh efficiency (typical) is 63 kWh.</p>\n<p>63 kWh costs £4.80 when charging at 7.5p/kWh, which is offered by the Octopus Intelligent tariff.</p>"
    },
    {
      "contentTypeKey": "fdc50f29-95c9-4233-a552-9b00c78fa49d",
      "udi": "umb://element/ed5cfeb5e2b44106b15aa4cbcdb3fd08",
      "text": "Reduce your servicing and maintenance costs",
      "bodyText": "<p>Fewer mechanical components in your electric vehicle often results in lower servicing and maintenance costs, when we compare with the costs of keeping a conventional vehicle on the road, and in good shape.  A traditional I.C.E. engine and gearbox drive system has @2000 moving parts compared to @20 moving parts on a typical BEV!</p>"
    },
    {
      "contentTypeKey": "fdc50f29-95c9-4233-a552-9b00c78fa49d",
      "udi": "umb://element/f4e6a9c02b7e4fb5ac6fa1715027c403",
      "text": "Lower or zero excise duty costs, for your vehicle",
      "bodyText": "<p>If you choose to drive an EV vehicle, you pay Lower or zero vehicle excise duty (VED).</p>\n<p>From 2025, VED will also be charged on electric vehicles. So, if you are thinking of switching now, you could save you a lump sum by choosing to go electric.</p>\n<p>From 2025, the first-year rate will still be lower for electric vehicles – only £10 compared to £120-£945 for petrol or diesel vehicles.</p>\n<p>Every year after that, all vehicles will be charged a standard rate of £165 per year.</p>"
    },
    {
      "contentTypeKey": "fdc50f29-95c9-4233-a552-9b00c78fa49d",
      "udi": "umb://element/e22be06035a44f91950ca6fd17f81b1f",
      "text": "Lower emissions, help you avoid costs on the road",
      "bodyText": "<p>You qualify for the cleaner vehicle discount available until December 2025, if you drive a zero emission vehicle (those emitting 0g/km CO2.</p>\n<p>All other vehicles, regardless of their emissions status, will be required to pay the congestion charge. </p>\n<p>With a lower or zero emissions of plug-in vehicle, you will be charged less in clean air zones being implemented around the UK, including London’s ultra-low emission zone (ULEZ).</p>\n<p>Free parking for electric vehicles is available in some towns and cities, to help you commute for less.</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "2ea99ce4-713c-4e51-a3b0-c0cb94d8246b",
      "udi": "umb://element/97efa8a468fd427db337ae5ff47bbdca",
      "label": "Why buy electric? "
    },
    {
      "contentTypeKey": "2ea99ce4-713c-4e51-a3b0-c0cb94d8246b",
      "udi": "umb://element/2c839581779c472d836db29cc083277e",
      "label": "Cut the cost of your journeys in half"
    },
    {
      "contentTypeKey": "2ea99ce4-713c-4e51-a3b0-c0cb94d8246b",
      "udi": "umb://element/099fe64c08b84b21967d75555b1255a4",
      "label": "Reduce your servicing and maintenance costs."
    },
    {
      "contentTypeKey": "2ea99ce4-713c-4e51-a3b0-c0cb94d8246b",
      "udi": "umb://element/2df0a406ff93477fa8dcb7a97316b4e3",
      "label": "Lower or zero excise duty costs, for your vehicle"
    },
    {
      "contentTypeKey": "2ea99ce4-713c-4e51-a3b0-c0cb94d8246b",
      "udi": "umb://element/989b4d9f4a24436594f1abec7c192ca4",
      "label": "Lower emissions, help you avoid costs on the road."
    }
  ]
}]]></Value>
    </buttons>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <title>
      <Value><![CDATA[The benefits of electric vehicles]]></Value>
    </title>
  </Properties>
</Content>