<?xml version="1.0" encoding="utf-8"?>
<Content Key="1c274027-3cc7-46bc-bc3a-8f6ee7625a59" Alias="Types of Chargepoints" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/TypesOfChargepoints</Path>
    <Trashed Parent="944bad22-9961-45a7-acfd-804d15bac7bf">true</Trashed>
    <ContentType>textImage</ContentType>
    <CreateDate>2023-10-10T07:51:05</CreateDate>
    <NodeName Default="Types of Chargepoints" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5502ae73-0baf-43c3-a5a1-1627ef20dcad">TextImage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <title>
      <Value><![CDATA[Types of chargepoints]]></Value>
    </title>
  </Properties>
</Content>