@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Navigation>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.Blocks;

@{
    if (Model == null)
        return;

    string homeUrl = Umbraco.ContentAtRoot()?.FirstOrDefault()?.Url() ?? "";

    <main id="navigation" class="main bg-main" role="main">
        <a href="@homeUrl">
            <img class="logo" src="/images/logo.svg">
        </a>

        @if (Model.NavigationItems?.Any() ?? false)
        {
            int index = 1;

            <div class="nav-items">
                <div class="nav-grid">
                    @foreach (BlockListItem block in Model.NavigationItems)
                    {
                        NavigationItem item = block.Content as NavigationItem ?? null;

                        if (item == null)
                            continue;

                        <a href="@item.Link?.Url()" class="nav-item nav-item-@index">
                            <div class="link-icon">
                                <img src="/images/icons/down-left-arrow.svg" />
                            </div>

                            @if (item.Image != null)
                            {
                                <div class="img-wrapper">
                                    <img src="@Url.GetCropUrl(item.Image,"Rectangle")">
                                </div>
                            }

                            <div class="content">
                                <h3>@item.ItemName</h3>
                            </div>
                        </a>

                        index++;
                    }
                </div>
            </div>
        }
    </main>
}