<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fdfdabd7-31c5-43f7-a4e6-2855c09295bc" Alias="linkList" Level="1">
  <Info>
    <Name>Link List</Name>
    <Icon>icon-list color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>LinkList</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4252ebb5-5063-42ad-8ef8-1cb1ae817147">LinkList</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="641bdd9f-6260-49f4-9fdc-a1628281df19" SortOrder="0">textImage</ContentType>
    <ContentType Key="fdfdabd7-31c5-43f7-a4e6-2855c09295bc" SortOrder="1">linkList</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>36d8bf47-148d-4908-9d7e-c3efb9c2ca18</Key>
      <Name>Buttons</Name>
      <Alias>buttons</Alias>
      <Definition>f5d25bbb-2ef6-4435-9dde-506d4387a0dd</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ed239df1-8aad-4b75-bdfe-12888edc58d8</Key>
      <Name>Images</Name>
      <Alias>images</Alias>
      <Definition>6e43146a-c349-4ca4-a64c-f1ec59ad50a1</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dab8815d-d620-4de4-867e-08197baf1084</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>12fb327e-2ca0-4efe-837e-2d0683cee3c6</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>