<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="857c0280-5b43-4d51-b4e9-bf60c2ef35c5" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9bad6af6-23af-4cf4-849b-2c7dee61d4f6">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="a111d1a7-6fdd-43b1-83ec-46f1900c8f41" SortOrder="0">gallery</ContentType>
    <ContentType Key="3ec341d2-b3b9-483a-be6c-6cedb9671a69" SortOrder="1">navigation</ContentType>
    <ContentType Key="641bdd9f-6260-49f4-9fdc-a1628281df19" SortOrder="2">textImage</ContentType>
    <ContentType Key="fdfdabd7-31c5-43f7-a4e6-2855c09295bc" SortOrder="3">linkList</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>a892b340-10ce-44d9-bb3d-adaf2c361866</Key>
      <Name>Button</Name>
      <Alias>button</Alias>
      <Definition>96e8ae27-66d5-4c78-9bc5-2831985b1c6a</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>afd6115b-f9d6-448b-9e57-637f5cf157d9</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>29cdbc5b-2543-4eee-9a06-f5f7828b957c</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>