<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3ec341d2-b3b9-483a-be6c-6cedb9671a69" Alias="navigation" Level="2">
  <Info>
    <Name>Navigation</Name>
    <Icon>icon-item-arrangement color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Navigation</Folder>
    <Compositions />
    <DefaultTemplate>Navigation</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="111fd68e-739b-4483-a13d-7c4be018fb45">Navigation</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c35057ad-cbd5-4ec6-ad54-43d9e800ecfe</Key>
      <Name>Navigation Items</Name>
      <Alias>navigationItems</Alias>
      <Definition>2e229668-0239-467c-b5a7-d391f3855105</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7d2809d0-65f5-422c-8c2e-ee6772f3b555</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>