<?xml version="1.0" encoding="utf-8"?>
<Content Key="96b0ddb6-e847-4238-9d04-d7cda2c0c18e" Alias="Cost" Level="2">
  <Info>
    <Parent Key="a9e1197b-7a92-4e00-9fef-bdef028310ed">Welcome</Parent>
    <Path>/Welcome/Cost</Path>
    <Trashed>false</Trashed>
    <ContentType>linkList</ContentType>
    <CreateDate>2023-10-03T18:54:16</CreateDate>
    <NodeName Default="Cost" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4252ebb5-5063-42ad-8ef8-1cb1ae817147">LinkList</Template>
  </Info>
  <Properties>
    <buttons>
      <Value><![CDATA[]]></Value>
    </buttons>
    <images>
      <Value><![CDATA[[
  {
    "key": "5f0cd722-eb59-44d2-ad40-79ab6ac9be56",
    "mediaKey": "ab6aa725-0ca1-4a50-b27b-50a06e6ac643"
  }
]]]></Value>
    </images>
    <title>
      <Value><![CDATA[Cost]]></Value>
    </title>
  </Properties>
</Content>