<?xml version="1.0" encoding="utf-8"?>
<Content Key="972daca2-70ca-4cb3-b717-3071fd2f18a0" Alias="Navigation" Level="2">
  <Info>
    <Parent Key="a9e1197b-7a92-4e00-9fef-bdef028310ed">Welcome</Parent>
    <Path>/Welcome/Navigation</Path>
    <Trashed>false</Trashed>
    <ContentType>navigation</ContentType>
    <CreateDate>2023-09-30T16:45:37</CreateDate>
    <NodeName Default="Navigation" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="111fd68e-739b-4483-a13d-7c4be018fb45">Navigation</Template>
  </Info>
  <Properties>
    <navigationItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e4a3b4bf8ab64363bb8f641de1008078"
      },
      {
        "contentUdi": "umb://element/dd806342f96947088912498e927eb72b"
      },
      {
        "contentUdi": "umb://element/ddc1170bf9c941109ec55c8c51f3db2a"
      },
      {
        "contentUdi": "umb://element/9907968c37784f7b92d178d3cf11d329"
      },
      {
        "contentUdi": "umb://element/251b8ee18a0d4ef0bc73ec9aadfde5aa"
      },
      {
        "contentUdi": "umb://element/bf0ad372d59f4d978253537daf7d709c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "06d5754a-f040-45ef-816b-30163ff5bf2b",
      "udi": "umb://element/e4a3b4bf8ab64363bb8f641de1008078",
      "itemName": "Electric Vehicles",
      "link": "umb://document/0148b9550db84e2c912630c227447093",
      "image": [
        {
          "key": "6d931f54-a990-47fc-a07d-58f23aad92f1",
          "mediaKey": "ab6aa725-0ca1-4a50-b27b-50a06e6ac643"
        }
      ]
    },
    {
      "contentTypeKey": "06d5754a-f040-45ef-816b-30163ff5bf2b",
      "udi": "umb://element/dd806342f96947088912498e927eb72b",
      "itemName": "Charging & vehicles",
      "link": "umb://document/944bad22996145a7acfd804d15bac7bf",
      "image": [
        {
          "key": "fdb5506d-e185-403f-bf1a-00bc744f36a8",
          "mediaKey": "a21227b6-3b42-4eb4-abf1-f9a1b3dc72c1"
        }
      ]
    },
    {
      "contentTypeKey": "06d5754a-f040-45ef-816b-30163ff5bf2b",
      "udi": "umb://element/ddc1170bf9c941109ec55c8c51f3db2a",
      "itemName": "Cost",
      "link": "umb://document/96b0ddb6e84742389d04d7cda2c0c18e",
      "image": [
        {
          "key": "c4c4b45a-8bba-4bb4-b1f5-551a8ca590a2",
          "mediaKey": "88c07822-6fa7-4ace-8361-b391b4fb59ac"
        }
      ]
    },
    {
      "contentTypeKey": "06d5754a-f040-45ef-816b-30163ff5bf2b",
      "udi": "umb://element/9907968c37784f7b92d178d3cf11d329",
      "itemName": "Range",
      "link": null,
      "image": [
        {
          "key": "c90ade4e-5088-4209-bf13-f5807fde48e3",
          "mediaKey": "0b3464a6-4fd0-432a-9e03-1f960b79388c"
        }
      ]
    },
    {
      "contentTypeKey": "06d5754a-f040-45ef-816b-30163ff5bf2b",
      "udi": "umb://element/251b8ee18a0d4ef0bc73ec9aadfde5aa",
      "itemName": "EV car search",
      "link": null,
      "image": [
        {
          "key": "87bd01af-5da4-4fac-9332-f5e8f04ff84b",
          "mediaKey": "2bf8996d-4e05-4e3d-8ef2-5ddd0ae99612"
        }
      ]
    },
    {
      "contentTypeKey": "06d5754a-f040-45ef-816b-30163ff5bf2b",
      "udi": "umb://element/bf0ad372d59f4d978253537daf7d709c",
      "itemName": "Hints & tips",
      "link": null,
      "image": [
        {
          "key": "ed6bbe91-a5e1-4c66-b8ed-6f73239c9576",
          "mediaKey": "c64dbb42-60ed-4991-9fdd-296a0c5f756e"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </navigationItems>
  </Properties>
</Content>