<?xml version="1.0" encoding="utf-8"?>
<Content Key="8fc0de96-8726-4f07-b294-d9d376573547" Alias="Plug-in Hybrid Electric Vehicles" Level="3">
  <Info>
    <Parent Key="0148b955-0db8-4e2c-9126-30c227447093">Electric Vehicles</Parent>
    <Path>/Welcome/ElectricVehicles/PlugInHybridElectricVehicles</Path>
    <Trashed>false</Trashed>
    <ContentType>textImage</ContentType>
    <CreateDate>2023-10-09T10:59:51</CreateDate>
    <NodeName Default="Plug-in Hybrid Electric Vehicles" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5502ae73-0baf-43c3-a5a1-1627ef20dcad">TextImage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>"Plug-in hybrids" feature a petrol or diesel engine <em>and</em> an electric motor. Your vehicle is primarily powered by a battery, which can be recharged by plugging in.  The PHEV batteries are much bigger and more powerful than those in “basic” hybrids.</p>
<p>PHEVs can have a pure-electric range of beyond 50 miles depending on driving style!  They allow you to drive extended distances running purely on battery power, and switching to a petrol or diesel-fuelled engine only if the battery empties on your journey.</p>
<p>The moment you re-charge that battery from an external power source, your journey can be switched back to a battery-powered drive.  PHEV’s also have battery re-gen systems to put charge back in when braking so aiding the range available.</p>
<p>PHEVs are very efficient if they are charged regularly, otherwise they can be more expensive to run than a conventional petrol or diesel vehicle.</p>
<p>In an ideal world? Charge your PHEV every night, for maximum cost savings. </p>]]></Value>
    </bodyText>
    <images>
      <Value><![CDATA[[
  {
    "key": "a79e2bbc-6c01-4803-b0c2-e87263c2ac9d",
    "mediaKey": "0b3464a6-4fd0-432a-9e03-1f960b79388c"
  }
]]]></Value>
    </images>
    <title>
      <Value><![CDATA[Plug-in hybrid electric vehicle (PHEV)]]></Value>
    </title>
  </Properties>
</Content>