<?xml version="1.0" encoding="utf-8"?>
<Content Key="3b8d419b-fa2b-4663-b600-f9a0a974d05a" Alias="The cost of owning and running an electric car" Level="2">
  <Info>
    <Parent Key="a9e1197b-7a92-4e00-9fef-bdef028310ed">Welcome</Parent>
    <Path>/Welcome/TheCostOfOwningAndRunningAnElectricCar</Path>
    <Trashed>false</Trashed>
    <ContentType>textImage</ContentType>
    <CreateDate>2023-10-03T19:02:05</CreateDate>
    <NodeName Default="The cost of owning and running an electric car" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5502ae73-0baf-43c3-a5a1-1627ef20dcad">TextImage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>The switch to EV can feel like a big change, so we want to help you understand as much as possible about the costs of owning and running an EV.</p>
<p>In this section, we’ll tell you more about:</p>
<ul>
<li>The upfront costs of buying an EV</li>
<li>How to pick the best second-hand EV to suit your needs and budget</li>
<li>The cost of charging your EV</li>
<li>How maintenance and servicing an EV works, and the costs involved</li>
<li>The daily running costs of electric EVs</li>
<li>UK government grants for EVs, and charge-points</li>
<li>Getting an EV on the UK Motability Scheme</li>
</ul>]]></Value>
    </bodyText>
    <images>
      <Value><![CDATA[[
  {
    "key": "090c5e32-8d85-4e91-96c8-2a5607d64649",
    "mediaKey": "a21227b6-3b42-4eb4-abf1-f9a1b3dc72c1"
  }
]]]></Value>
    </images>
    <title>
      <Value><![CDATA[The cost of owning and running an electric car]]></Value>
    </title>
  </Properties>
</Content>