<?xml version="1.0" encoding="utf-8"?>
<Content Key="9fc8c82a-f78b-4f9a-8498-9d30627a2e79" Alias="Types of Chargepoints" Level="3">
  <Info>
    <Parent Key="944bad22-9961-45a7-acfd-804d15bac7bf">Charging and Vehicles</Parent>
    <Path>/Welcome/ChargingAndVehicles/TypesOfChargepoints</Path>
    <Trashed>false</Trashed>
    <ContentType>linkList</ContentType>
    <CreateDate>2023-10-10T07:51:36</CreateDate>
    <NodeName Default="Types of Chargepoints" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4252ebb5-5063-42ad-8ef8-1cb1ae817147">LinkList</Template>
  </Info>
  <Properties>
    <buttons>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8ce1f843028149a89a70a4f01d75aacc",
        "settingsUdi": "umb://element/46a87fedf39a4c7ea260da67e0c9d1e7"
      },
      {
        "contentUdi": "umb://element/7f6a385eb53e40e7a33117e709ce475f",
        "settingsUdi": "umb://element/6046c33c954e464099104622c32ed5fe"
      },
      {
        "contentUdi": "umb://element/1ca7d1c57dc54ee2bcf0eec956d71a19",
        "settingsUdi": "umb://element/42e61aab9e954f6aa39422d07966d40e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fdc50f29-95c9-4233-a552-9b00c78fa49d",
      "udi": "umb://element/8ce1f843028149a89a70a4f01d75aacc",
      "text": "Low speed and Fast charge points",
      "bodyText": "<p>Often the cheapest to use, and well suited to times when you have your EV parked for several hours. Charge during working hours or overnight, at Low Speed and Fast charge points - to maximise the cost efficiency of your EV investment.</p>\n<table border=\"0\" width=\"643\">\n<tbody>\n<tr>\n<td>\n<p><strong>Chargepoint type</strong></p>\n</td>\n<td>\n<p><strong>Power output</strong></p>\n</td>\n</tr>\n<tr>\n<td>\n<p><strong>Slow  - AC power</strong></p>\n</td>\n<td>\n<p>0 – &lt; 3.7 kW</p>\n</td>\n</tr>\n</tbody>\n</table>"
    },
    {
      "contentTypeKey": "fdc50f29-95c9-4233-a552-9b00c78fa49d",
      "udi": "umb://element/7f6a385eb53e40e7a33117e709ce475f",
      "text": "Fast chargepoints",
      "bodyText": "<p>The opportunity to charge your vehicle while out and about, is becoming increasingly common. Fast chargepoints are ideal when vehicles are parked for a few hours. They can be found at hotels, shopping centres, leisure centres, tourist destinations, and carparks that are open for use for over two hours.</p>\n<table border=\"0\" width=\"643\">\n<tbody>\n<tr>\n<td>\n<p><strong>Chargepoint type</strong></p>\n</td>\n<td>\n<p><strong>Power output</strong></p>\n</td>\n</tr>\n<tr>\n<td>\n<p>Fast <strong>AC power</strong></p>\n</td>\n<td>\n<p>7.4kw to 22kw</p>\n</td>\n</tr>\n</tbody>\n</table>"
    },
    {
      "contentTypeKey": "fdc50f29-95c9-4233-a552-9b00c78fa49d",
      "udi": "umb://element/1ca7d1c57dc54ee2bcf0eec956d71a19",
      "text": "Rapid and Ultra-Rapid charge points",
      "bodyText": "<p>When charging up to 80% rapid charge is the most efficient use of your time, as a way to make sure your EV vehicle is powered and ready to drive.</p>\n<p>You’ll tend to find them at service stations, supermarkets and shopping centres. Rapid charge points can be expensive to use, and cannot be installed in your home.</p>\n<table border=\"0\" width=\"643\">\n<tbody>\n<tr>\n<td>\n<p><strong>Chargepoint type</strong></p>\n</td>\n<td>\n<p><strong>Power output</strong></p>\n</td>\n</tr>\n<tr>\n<td>\n<p>Rapid <strong>DC power</strong></p>\n</td>\n<td>\n<p>50 kW – 100 kW</p>\n</td>\n</tr>\n<tr>\n<td>\n<p>Ultra-rapid <strong>DC power</strong></p>\n</td>\n<td>\n<p>100kW and over</p>\n</td>\n</tr>\n</tbody>\n</table>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "2ea99ce4-713c-4e51-a3b0-c0cb94d8246b",
      "udi": "umb://element/46a87fedf39a4c7ea260da67e0c9d1e7",
      "label": "Low speed and Fast charge points"
    },
    {
      "contentTypeKey": "2ea99ce4-713c-4e51-a3b0-c0cb94d8246b",
      "udi": "umb://element/6046c33c954e464099104622c32ed5fe",
      "label": "Fast chargepoints"
    },
    {
      "contentTypeKey": "2ea99ce4-713c-4e51-a3b0-c0cb94d8246b",
      "udi": "umb://element/42e61aab9e954f6aa39422d07966d40e",
      "label": "Rapid and Ultra-Rapid charge points"
    }
  ]
}]]></Value>
    </buttons>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <title>
      <Value><![CDATA[Types of chargepoints]]></Value>
    </title>
  </Properties>
</Content>