@import "../global/variables";

.btn {
    padding: 1rem 3rem;
    border-radius: 3rem;
    background: $clr-purple;
    text-decoration: none;

    &.btn-lg {
        padding: 3rem 3rem 2.5rem;
        font-size: 4rem;
        font-weight: 600;
        border-radius: 3rem;
        line-height: 1rem;
    }

    &.btn-gradient {
        color: $clr-purple;
        background-color: $clr-yellow;
        background-image: linear-gradient(to right, $clr-yellow, $clr-blue-light);
    }

    &#prev-list, &#next-list {
        padding: 1rem 2rem;
        border-radius: 3rem;
        background: $clr-yellow;
        color: $clr-purple;
        width: auto;
        font-weight: bold;
    }
}

.btn-back {
    position: absolute;
    top: 2rem;
    right: 3rem;
    background: white;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        height: 1.5rem;
        width: 1.5rem;
    }
}
