<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab6aa725-0ca1-4a50-b27b-50a06e6ac643" Alias="Front Window View" Level="2">
  <Info>
    <Parent Key="0ad49cde-83cc-4697-ad00-6534f9298ff3">Navigation</Parent>
    <Path>/Navigation/FrontWindowView</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-01T14:52:31</CreateDate>
    <NodeName Default="Front Window View" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/eothvk3b/front-window-view.jpg",
  "crops": [
    {
      "alias": "Rectangle",
      "coordinates": {
        "x1": 0.3695584351315443,
        "y1": 0,
        "x2": 0.03964437415840537,
        "y2": 0.5571236559139785
      }
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>