<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b3464a6-4fd0-432a-9e03-1f960b79388c" Alias="Jp Valery S5arluxtyg Unsplash (1)" Level="2">
  <Info>
    <Parent Key="0ad49cde-83cc-4697-ad00-6534f9298ff3">Navigation</Parent>
    <Path>/Navigation/JpValeryS5arluxtygUnsplash1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T20:23:59</CreateDate>
    <NodeName Default="Jp Valery S5arluxtyg Unsplash (1)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ubsdic4q/jp-valery-_s5arluxtyg-unsplash-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>