<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f5d25bbb-2ef6-4435-9dde-506d4387a0dd" Alias="Buttons Block List" Level="1">
  <Info>
    <Name>Buttons Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "d1574064-482e-4516-9a15-f6e26d868537",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ $settings.label || $contentTypeName }}",
      "settingsElementTypeKey": "2ea99ce4-713c-4e51-a3b0-c0cb94d8246b",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "fdc50f29-95c9-4233-a552-9b00c78fa49d",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ $settings.label || $contentTypeName }}",
      "settingsElementTypeKey": "2ea99ce4-713c-4e51-a3b0-c0cb94d8246b",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "653b2b12-06c6-447c-8797-a4cb570befc3",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ $settings.label || $contentTypeName }}",
      "settingsElementTypeKey": "2ea99ce4-713c-4e51-a3b0-c0cb94d8246b",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>