<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6e43146a-c349-4ca4-a64c-f1ec59ad50a1" Alias="Image Grid Media Picker" Level="1">
  <Info>
    <Name>Image Grid Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": true,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 4,
    "min": null
  }
}]]></Config>
</DataType>