<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2e229668-0239-467c-b5a7-d391f3855105" Alias="Navigation Item Block List Editor" Level="1">
  <Info>
    <Name>Navigation Item Block List Editor</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "06d5754a-f040-45ef-816b-30163ff5bf2b",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 6,
    "min": null
  }
}]]></Config>
</DataType>