@import "../global/variables";
@import "../mixins/media-queries";

#navigation {
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    flex: 1;

    .logo {
        width: 8rem;
        margin-bottom: 2rem;
    }

    .nav-items {
        flex: 1;

        .nav-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr 1fr;
            grid-column-gap: 0.75rem;
            grid-row-gap: 0.75rem;
            height: 100%;
            width: 100%;

            .nav-item-1 {
                grid-area: 1 / 1 / 2 / 2;
            }

            .nav-item-2 {
                grid-area: 1 / 2 / 2 / 3;
            }

            .nav-item-3 {
                grid-area: 1 / 3 / 2 / 4;
            }

            .nav-item-4 {
                grid-area: 2 / 1 / 3 / 2;
            }

            .nav-item-5 {
                grid-area: 2 / 2 / 3 / 3;
            }

            .nav-item-6 {
                grid-area: 2 / 3 / 3 / 4;
            }

            .nav-item {
                border-radius: $border-radius-small;
                display: inline-grid;
                grid-auto-rows: 1fr;
                width: 100%;
                /*min-height: 20rem;*/
                text-decoration: none;
                position: relative;

                .link-icon {
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                    background: white;
                    border-radius: 50%;
                    height: 3rem;
                    width: 3rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        height: 1.5rem;
                        width: 1.5rem;
                    }
                }

                .img-wrapper {
                    img {
                        height: 0;
                        min-height: 100%;
                        width: 100%;
                        object-fit: cover;
                        border-radius: $border-radius-small $border-radius-small 0 0;
                    }
                }

                .content {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 2rem;
                    text-align: center;

                    h3 {
                        font-size: 2rem;
                        /*font-size: 2.5rem;*/
                        font-weight: 600;
                        color: $clr-purple-dark;
                        /*@include desktop-lg {
                            font-size: 3rem;
                        }*/
                    }
                }

                &:nth-child(odd) {
                    background: $clr-blue-light;
                }

                &:nth-child(even) {
                    background: $clr-yellow;
                }
            }
        }
    }
}
