<?xml version="1.0" encoding="utf-8"?>
<Media Key="2bf8996d-4e05-4e3d-8ef2-5ddd0ae99612" Alias="Hyundai Motor Group A3vdd8hzuys Unsplash" Level="2">
  <Info>
    <Parent Key="0ad49cde-83cc-4697-ad00-6534f9298ff3">Navigation</Parent>
    <Path>/Navigation/HyundaiMotorGroupA3vdd8hzuysUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T20:23:59</CreateDate>
    <NodeName Default="Hyundai Motor Group A3vdd8hzuys Unsplash" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nompqkyf/hyundai-motor-group-a3vdd8hzuys-unsplash.jpg",
  "crops": [
    {
      "alias": "Rectangle",
      "coordinates": {
        "x1": 0.05771812080536913,
        "y1": 0.2226493987912504,
        "x2": 0.05771812080536913,
        "y2": 0.11386143350003237
      }
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>