<?xml version="1.0" encoding="utf-8"?>
<Media Key="88c07822-6fa7-4ace-8361-b391b4fb59ac" Alias="Aidan Hancock Bo3lqcl0jla Unsplash" Level="2">
  <Info>
    <Parent Key="0ad49cde-83cc-4697-ad00-6534f9298ff3">Navigation</Parent>
    <Path>/Navigation/AidanHancockBo3lqcl0jlaUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T20:23:58</CreateDate>
    <NodeName Default="Aidan Hancock Bo3lqcl0jla Unsplash" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/er2mbcfh/aidan-hancock-bo3lqcl0jla-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>