<?xml version="1.0" encoding="utf-8"?>
<Media Key="a21227b6-3b42-4eb4-abf1-f9a1b3dc72c1" Alias="Christian Wiediger Mv97m9ds8o8 Unsplash (1)" Level="2">
  <Info>
    <Parent Key="0ad49cde-83cc-4697-ad00-6534f9298ff3">Navigation</Parent>
    <Path>/Navigation/ChristianWiedigerMv97m9ds8o8Unsplash1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T20:23:57</CreateDate>
    <NodeName Default="Christian Wiediger Mv97m9ds8o8 Unsplash (1)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/watbfisc/christian-wiediger-mv97m9ds8o8-unsplash-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>