<?xml version="1.0" encoding="utf-8"?>
<Media Key="c64dbb42-60ed-4991-9fdd-296a0c5f756e" Alias="Obi Pixel7propix Uagtgdjaqu0 Unsplash" Level="2">
  <Info>
    <Parent Key="0ad49cde-83cc-4697-ad00-6534f9298ff3">Navigation</Parent>
    <Path>/Navigation/ObiPixel7propixUagtgdjaqu0Unsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T20:23:59</CreateDate>
    <NodeName Default="Obi Pixel7propix Uagtgdjaqu0 Unsplash" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/is3f1rxn/obi-pixel7propix-uagtgdjaqu0-unsplash.jpg",
  "focalPoint": {
    "left": 0.7071981821150434,
    "top": 0.2856525438115006
  },
  "crops": [
    {
      "alias": "Rectangle",
      "coordinates": {
        "x1": 0.19691752569924179,
        "y1": 0.11070906949096741,
        "x2": 0.01518760028024678,
        "y2": 0.36399376695429325
      }
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>